@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  background-color: #ff0000;
}

header {
  background-color: #DCDED0;
}
header .links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .links {
  background-color: #05796C;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 5px;
  overflow: hidden;
  height: 0px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 40px;
  border: none;
}
header .links.open {
  height: 80%;
  width: 80%;
  z-index: 200;
  text-align: center;
  border: #F47059 5px solid;
}
header .links.open a {
  color: #F47059;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .logo h2 {
  font-family: semibold;
  color: #05796C;
  font-size: 35px;
  margin-left: 20px;
  padding-top: 25px;
}
header .menu {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 300;
}
header .menu img {
  width: 100%;
  height: 100%;
  z-index: 300;
}
header .link {
  display: none;
}
header .social {
  margin-left: 20px;
  margin-top: 50px;
}
header button {
  background-color: #05796C;
  border: #05796C 1px solid;
  width: 150px;
  height: 70px;
  font-family: medium;
  color: #DCDED0;
  font-size: 20px;
  display: block;
}
header .btn {
  position: absolute;
  top: 100px;
  right: 10px;
}
header .btn a {
  text-decoration: none;
}
header .creative .hie {
  margin-top: 50px;
  display: flex;
  justify-content: start;
  text-align: center;
}
header .creative .hie h4 {
  font-family: semibold;
  font-size: 30px;
  margin-right: 20px;
}
header .creative .hie hr {
  width: 100px;
  border: black 2px solid;
}
header .creative h1 {
  font-family: semibold;
  font-size: 70px;
  color: #05796C;
}
header .creative h2 {
  font-size: 50px;
  font-family: regular;
  margin-bottom: 0px;
}
header .banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
header .banner .green {
  background-color: #05796C;
  width: 25vh;
  height: 30vh;
  margin-top: 70px;
  margin-left: -40px;
}
header .banner .grey {
  background-color: #666666;
  width: 25vh;
  height: 30vh;
  position: absolute;
  top: -7%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .bio p {
  font-family: regular;
  font-size: 20px;
  text-align: center;
}
header .bio h3 {
  font-family: semibold;
  font-size: 30px;
  color: #05796C;
  margin-left: -250px;
}
header .colors {
  position: relative;
  height: 18vh;
}
header .red {
  width: 70%;
  height: 50px;
  background-color: #F47059;
  color: white;
  text-align: center;
}
header .red p {
  padding-left: 10px;
  font-family: regular;
}
header .blue {
  width: 60%;
  height: 50px;
  background-color: #05796C;
  color: white;
  position: absolute;
  top: 25px;
  text-align: center;
}
header .blue p {
  padding-left: 10px;
  font-family: regular;
}
header .grey {
  width: 50%;
  height: 50px;
  background-color: #666666;
  color: white;
  position: absolute;
  top: 50px;
  text-align: center;
}
header .grey p {
  padding-left: 10px;
  font-family: regular;
}
header .yellow {
  width: 40%;
  height: 50px;
  background-color: #FBB57A;
  color: white;
  position: absolute;
  top: 75px;
  text-align: center;
}
header .yellow p {
  padding-left: 10px;
  font-family: regular;
  font-size: 15px;
}
header .text {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}
header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
header .word {
  position: absolute;
  opacity: 0;
  font-family: semibold;
  font-size: 35px;
  color: #05796C;
  margin-left: 15px;
}
header .letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
header .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
header .letter.behind {
  transform: rotateX(-90deg);
}
header .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .wisteria {
  color: #F47059;
}
header .belize {
  color: #05796C;
}
header .pomegranate {
  color: #FBB57A;
}
header .green {
  color: #16a085;
}
header .midnight {
  color: #2c3e50;
}

.about {
  display: none;
}

.timeline {
  display: block;
}

.timeline ul {
  background-color: #DCDED0;
  padding: 50px 0;
  margin-bottom: 0px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #05796C;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color: rgba(5, 121, 108, 0.5058823529);
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(5, 121, 108, 0.5058823529) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #14B2B5;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #DCDED0;
  font-family: regular;
}

top {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-family: medium;
}

all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
all img {
  width: 90%;
  height: 90%;
}

picture {
  width: 115%;
  height: 10vh;
  background-color: #DCDED0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #14B2B5;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(0, -200px, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timelinet {
  background-color: #DCDED0;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card container */
.cardt {
  position: relative;
  max-width: 300px;
}

/* setting padding based on even or odd */
.cardt:nth-child(odd) {
  padding: 30px 0 30px 30px;
}

.cardt:nth-child(even) {
  padding: 30px 30px 30px 0;
}

/* Global ::before */
.cardt::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #F47059;
}

/* Setting the border of top, bottom, left */
.cardt:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.cardt:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.cardt:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.cardt:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.cardt:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.infot {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.titlet {
  color: #F47059;
  position: relative;
}

/* Timeline dot  */
.titlet::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #F47059;
}

/* text right if the card is even  */
.cardt:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.cardt:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.cardt:nth-child(even) > .info > .title::before {
  right: -45px;
}

.journey {
  display: none;
}

.design {
  position: relative;
  transition: 0.5s ease;
  background-color: #DCDED0;
  height: 105vh;
}
.design h2 {
  font-family: semibold;
  color: #05796C;
  font-size: 35px;
  padding-top: 50px;
  text-align: center;
}
.design .tab-content {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.design .tab {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  transform: translateY(25px);
  content-visibility: hidden;
  opacity: 0;
}
.design .tab.active {
  transform: translateY(0px);
  content-visibility: visible;
  opacity: 1;
  transition: 1s ease;
}
.design .img-card img {
  width: 100%;
}
.design .img-card {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design .arete .info p {
  font-family: regular;
  text-align: center;
}
.design .arete .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.design .arete .head h2 {
  font-family: semibold;
  color: #F47059;
  font-size: 35px;
  padding-top: 20px;
  text-align: center;
}
.design .arete button {
  color: #DCDED0;
  font-size: 20px;
  font-family: regular;
  border-radius: 30px;
  background-color: #F47059;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 125px;
  height: 65px;
  border: 1px #F47059 solid;
  margin-top: 40px;
  margin-left: 20px;
}
.design .mobi .info p {
  font-family: regular;
  text-align: center;
}
.design .mobi .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.design .mobi .head h2 {
  font-family: semibold;
  color: #FBB57A;
  font-size: 35px;
  padding-top: 20px;
  text-align: center;
}
.design .mobi button {
  color: #DCDED0;
  font-size: 20px;
  font-family: regular;
  border-radius: 30px;
  background-color: #FBB57A;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 125px;
  height: 65px;
  border: 1px #FBB57A solid;
  margin-top: 40px;
  margin-left: 20px;
}
.design .freefall .info p {
  font-family: regular;
  text-align: center;
}
.design .freefall .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.design .freefall .head h2 {
  font-family: semibold;
  color: #05796C;
  font-size: 35px;
  padding-top: 20px;
  text-align: center;
}
.design .freefall button {
  color: #DCDED0;
  font-size: 20px;
  font-family: regular;
  border-radius: 30px;
  background-color: #05796C;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 125px;
  height: 65px;
  border: 1px #05796C solid;
  margin-top: 40px;
  margin-left: 20px;
}
.design .tab-menu {
  color: #F47059;
  list-style: none;
  background-color: hsla(9, 88%, 65%, 0.418);
  max-width: 400px;
  padding: 10px;
  white-space: nowrap;
  border-radius: 50px;
  overflow-x: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s ease;
  scroll-behavior: smooth;
}
.design .tab-menu.dragging {
  scroll-behavior: unset;
  cursor: grab;
}
.design .tab-menu::-webkit-scrollbar {
  display: none;
}
.design .tab-nav-bar {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
}
.design .tab-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
.design .tab-navigation p {
  font-size: 35px;
  color: #F47059;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.design .tab-navigation .left-btn {
  display: none;
}
.design .tab-btn {
  display: inline-block;
  color: #F47059;
  font-size: 20px;
  font-family: regular;
  margin: 0px 2px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #DCDED0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.design .tab-btn:hover {
  background-color: #F47059;
  color: #DCDED0;
}
.design .tab-btn.active {
  background-color: #F47059;
  color: #DCDED0;
}

.contact {
  background-color: #DCDED0;
}
.contact h2 {
  font-family: semibold;
  color: #05796C;
  font-size: 35px;
  padding-top: 50px;
  text-align: center;
}
.contact .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #F47059 1px solid;
  height: 35vh;
  margin-bottom: 30px;
  margin-top: 30px;
}
.contact .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}
.contact .info p {
  color: black;
  font-family: regular;
  font-size: 16.5px;
  margin-left: 12px;
  margin-top: 15px;
}
.contact #last {
  margin-bottom: 0px;
}
.contact .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #F47059 1px solid;
  margin-bottom: 30px;
  width: 100%;
}
.contact form {
  width: 90%;
}
.contact input {
  width: 100%;
  height: 70px;
  font-family: regular;
  font-size: 20px;
  background-color: #DCDED0;
  margin-top: 10px;
  border-bottom: #05796C 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact textarea {
  width: 100%;
  font-family: regular;
  font-size: 20px;
  background-color: #DCDED0;
  margin-top: 10px;
  border-bottom: #05796C 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 200px;
}
.contact button {
  background-color: #05796C;
  border: #05796C 1px solid;
  width: 110px;
  height: 70px;
  font-family: regular;
  color: #DCDED0;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact .colors {
  position: relative;
  height: 18vh;
}
.contact .red {
  width: 50%;
  height: 30px;
  background-color: #F47059;
}
.contact .blue {
  width: 40%;
  height: 30px;
  background-color: #05796C;
  position: absolute;
  top: 15px;
}
.contact .grey {
  width: 30%;
  height: 30px;
  background-color: #666666;
  position: absolute;
  top: 30px;
}
.contact .yellow {
  width: 20%;
  height: 30px;
  background-color: #FBB57A;
  position: absolute;
  top: 50px;
}

footer {
  background-color: #05796C;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h5 {
  font-family: medium;
  color: #DCDED0;
  font-size: 25px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
footer .row {
  width: 100%;
}
footer .colors {
  position: relative;
  height: 10vh;
  width: 60%;
}
footer .red {
  width: 40%;
  height: 20px;
  background-color: #F47059;
}
footer .blue {
  width: 30%;
  height: 20px;
  background-color: #05796C;
  position: absolute;
  top: 10px;
}
footer .grey {
  width: 20%;
  height: 20px;
  background-color: #666666;
  position: absolute;
  top: 20px;
}
footer .yellow {
  width: 10%;
  height: 20px;
  background-color: #FBB57A;
  position: absolute;
  top: 30px;
}
footer hr {
  border: #F47059 2px solid;
  margin-left: 5px;
}
footer .linkss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer a {
  color: #DCDED0;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 30px;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .icons img {
  margin-left: 20px;
  margin-bottom: 30px;
}
footer .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCDED0;
  width: 100%;
  color: #05796C;
  font-family: medium;
  height: 7vh;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #14B2B5 transparent transparent;
  }
}
@media (min-width: 568px) {
  .timeline {
    display: none;
  }
  .timelinet {
    display: none;
  }
  .about {
    display: block;
    width: 100%;
    background-color: #DCDED0;
  }
  .about img {
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .journey {
    display: block;
    width: 100%;
    background-color: #DCDED0;
  }
  .journey img {
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  span {
    font-size: 25px;
  }
  h3 {
    font-size: 15px;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  header {
    background-color: #DCDED0;
  }
  header .logo h2 {
    font-family: semibold;
    color: #05796C;
    font-size: 35px;
    margin-left: 35px;
    padding-top: 30px;
  }
  header .menu {
    display: none;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9%;
  }
  header .link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }
  header .link a {
    color: black;
    font-family: regular;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
  }
  header .linkss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    border-bottom: black 1.5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 20px;
  }
  header .social {
    margin-right: 35px;
    margin-top: 10px;
  }
  header button {
    display: none;
  }
  header .creative {
    margin-left: -10px;
  }
  header .creative .hie {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    text-align: center;
    position: relative;
  }
  header .creative .hie h4 {
    font-family: semibold;
    font-size: 12px;
    margin-right: 20px;
  }
  header .creative .hie hr {
    width: 120px;
    border: none;
    background-color: rgb(3, 3, 3);
    color: rgb(3, 3, 3);
    position: absolute;
    top: -21%;
    right: 11%;
  }
  header .creative h1 {
    font-family: semibold;
    font-size: 50px;
    color: #05796C;
    margin-top: 0px;
  }
  header .creative h2 {
    font-size: 40px;
    font-family: regular;
    margin-bottom: 0px;
  }
  header .banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 100%;
  }
  header .banner .green {
    background-color: #05796C;
    width: 100%;
    height: 21vh;
    margin-top: 50px;
    margin-left: 20px;
  }
  header .banner .grey {
    background-color: #666666;
    width: 20vh;
    height: 21vh;
    position: absolute;
    top: -20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .banner .grey img {
    width: 90%;
  }
  header .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
    text-align: center;
  }
  header .bio p {
    font-family: regular;
    font-size: 18px;
    text-align: center;
    max-width: 86%;
  }
  header .bio h3 {
    font-family: semibold;
    font-size: 35px;
    color: #05796C;
  }
  header .colors {
    position: relative;
    height: 18vh;
    margin-left: 30px;
  }
  header .red {
    width: 32%;
    height: 52px;
    background-color: #F47059;
    color: white;
    text-align: left;
  }
  header .red p {
    padding-left: 10px;
    font-family: medium;
  }
  header .blue {
    width: 28%;
    height: 52px;
    background-color: #05796C;
    color: white;
    position: absolute;
    top: 25px;
    text-align: left;
  }
  header .blue p {
    padding-left: 10px;
    font-family: medium;
  }
  header .grey {
    width: 23%;
    height: 52px;
    background-color: #666666;
    color: white;
    position: absolute;
    top: 50px;
    text-align: left;
  }
  header .grey p {
    padding-left: 10px;
    font-family: medium;
  }
  header .yellow {
    width: 18%;
    height: 52px;
    background-color: #FBB57A;
    color: white;
    position: absolute;
    top: 75px;
    text-align: left;
  }
  header .yellow p {
    padding-left: 10px;
    font-family: medium;
    font-size: 15px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    background-color: #DCDED0;
  }
  header .logo h2 {
    font-family: semibold;
    color: #05796C;
    font-size: 35px;
    margin-left: 35px;
    padding-top: 30px;
  }
  header .menu {
    display: none;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9%;
  }
  header .link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }
  header .link a {
    color: black;
    font-family: regular;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
  }
  header .linkss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    border-bottom: black 1.5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 20px;
  }
  header .social {
    margin-right: 35px;
    margin-top: 10px;
  }
  header button {
    display: none;
  }
  header .creative {
    margin-left: -40px;
  }
  header .creative .hie {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    text-align: center;
    position: relative;
  }
  header .creative .hie h4 {
    font-family: semibold;
    font-size: 25px;
    margin-right: 20px;
  }
  header .creative .hie hr {
    width: 120px;
    border: none;
    background-color: rgb(3, 3, 3);
    color: rgb(3, 3, 3);
    position: absolute;
    top: -21%;
    right: 11%;
  }
  header .creative h1 {
    font-family: semibold;
    font-size: 85px;
    color: #05796C;
    margin-top: 0px;
  }
  header .creative h2 {
    font-size: 65px;
    font-family: regular;
    margin-bottom: 0px;
  }
  header .banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
  }
  header .banner .green {
    background-color: #05796C;
    width: 80%;
    height: 25vh;
    margin-top: 50px;
    margin-left: -40px;
  }
  header .banner .grey {
    background-color: #666666;
    width: 80%;
    height: 25vh;
    position: absolute;
    top: -20%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 30px;
    text-align: center;
  }
  header .bio p {
    font-family: regular;
    font-size: 21px;
    text-align: center;
    max-width: 86%;
  }
  header .bio h3 {
    font-family: semibold;
    font-size: 35px;
    color: #05796C;
  }
  header .colors {
    position: relative;
    height: 22vh;
    margin-left: 30px;
  }
  header .red {
    width: 32%;
    height: 52px;
    background-color: #F47059;
    color: white;
    text-align: left;
  }
  header .red p {
    padding-left: 10px;
    font-family: medium;
  }
  header .blue {
    width: 28%;
    height: 52px;
    background-color: #05796C;
    color: white;
    position: absolute;
    top: 25px;
    text-align: left;
  }
  header .blue p {
    padding-left: 10px;
    font-family: medium;
  }
  header .grey {
    width: 23%;
    height: 52px;
    background-color: #666666;
    color: white;
    position: absolute;
    top: 50px;
    text-align: left;
  }
  header .grey p {
    padding-left: 10px;
    font-family: medium;
  }
  header .yellow {
    width: 18%;
    height: 52px;
    background-color: #FBB57A;
    color: white;
    position: absolute;
    top: 75px;
    text-align: left;
  }
  header .yellow p {
    padding-left: 10px;
    font-family: medium;
    font-size: 15px;
  }
  .about {
    display: block;
    width: 100%;
    background-color: #DCDED0;
  }
  .about img {
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .timeline {
    display: none;
  }
  .timelinet {
    display: none;
  }
  .journey {
    display: block;
    width: 100%;
    background-color: #DCDED0;
  }
  .journey img {
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .design {
    position: relative;
    transition: 0.5s ease;
    background-color: #DCDED0;
    height: 100vh;
  }
  .design h2 {
    font-family: semibold;
    color: #05796C;
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
  }
  .design .tab-content {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .design .tab {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    transform: translateY(25px);
    content-visibility: hidden;
    opacity: 0;
  }
  .design .tab.active {
    transform: translateY(0px);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
  }
  .design .img-card img {
    width: 100%;
  }
  .design .img-card {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .design .rows {
    display: flex;
    justify-content: center;
  }
  .design .left-column {
    width: 50%;
  }
  .design .right-column {
    width: 50%;
  }
  .design .info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
  }
  .design .arete .info p {
    font-family: regular;
    text-align: left;
    max-width: 80%;
  }
  .design .arete .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .design .arete .head h2 {
    font-family: semibold;
    color: #F47059;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
  }
  .design .arete button {
    color: #DCDED0;
    font-size: 20px;
    font-family: regular;
    border-radius: 30px;
    background-color: #F47059;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 100px;
    height: 45px;
    border: 1px #F47059 solid;
    margin-top: 10px;
    margin-left: 50px;
  }
  .design .mobi .info p {
    font-family: regular;
    text-align: left;
    max-width: 80%;
  }
  .design .mobi .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .design .mobi .head h2 {
    font-family: semibold;
    color: #FBB57A;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
  }
  .design .mobi button {
    color: #DCDED0;
    font-size: 20px;
    font-family: regular;
    border-radius: 30px;
    background-color: #FBB57A;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 100px;
    height: 45px;
    border: 1px #FBB57A solid;
    margin-top: 10px;
    margin-left: 50px;
  }
  .design .freefall .info p {
    font-family: regular;
    text-align: left;
    max-width: 80%;
  }
  .design .freefall .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .design .freefall .head h2 {
    font-family: semibold;
    color: #05796C;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
  }
  .design .freefall button {
    color: #DCDED0;
    font-size: 20px;
    font-family: regular;
    border-radius: 30px;
    background-color: #05796C;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 100px;
    height: 45px;
    border: 1px #05796C solid;
    margin-top: 10px;
    margin-left: 50px;
  }
  .design .tab-menu {
    color: #F47059;
    list-style: none;
    background-color: hsla(9, 88%, 65%, 0.418);
    max-width: 400px;
    padding: 10px;
    white-space: nowrap;
    border-radius: 50px;
    overflow-x: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    transition: 0.3s ease;
    scroll-behavior: smooth;
  }
  .design .tab-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;
  }
  .design .tab-menu::-webkit-scrollbar {
    display: none;
  }
  .design .tab-nav-bar {
    margin-top: 50px;
    position: absolute;
    bottom: 10;
    right: 35%;
  }
  .design .tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
  }
  .design .tab-navigation p {
    font-size: 35px;
    color: #F47059;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .design .tab-navigation .left-btn {
    display: none;
  }
  .design .tab-btn {
    display: inline-block;
    color: #F47059;
    font-size: 20px;
    font-family: regular;
    margin: 0px 2px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #DCDED0;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .design .tab-btn:hover {
    background-color: #F47059;
    color: #DCDED0;
  }
  .design .tab-btn.active {
    background-color: #F47059;
    color: #DCDED0;
  }
  .contact {
    background-color: #DCDED0;
  }
  .contact h2 {
    font-family: semibold;
    color: #05796C;
    font-size: 35px;
    padding-top: 50px;
    text-align: left;
    margin-left: 130px;
  }
  .contact .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #F47059 1px solid;
    height: 43vh;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .contact .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
  }
  .contact .info p {
    color: black;
    font-family: regular;
    font-size: 16.5px;
    margin-left: 12px;
    margin-top: 15px;
  }
  .contact #last {
    margin-bottom: 0px;
  }
  .contact .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #F47059 1px solid;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 30px;
  }
  .contact form {
    width: 90%;
  }
  .contact input {
    width: 100%;
    height: 60px;
    font-family: regular;
    font-size: 20px;
    background-color: #DCDED0;
    margin-top: 10px;
    border-bottom: #05796C 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
  }
  .contact textarea {
    width: 100%;
    font-family: regular;
    font-size: 20px;
    background-color: #DCDED0;
    margin-top: 10px;
    border-bottom: #05796C 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 150px;
    outline: none;
  }
  .contact button {
    background-color: #05796C;
    border: #05796C 1px solid;
    width: 95px;
    height: 55px;
    font-family: regular;
    color: #DCDED0;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact .colors {
    position: relative;
    height: 18vh;
    width: 45%;
    margin-top: -45px;
  }
  .contact .red {
    width: 50%;
    height: 30px;
    background-color: #F47059;
  }
  .contact .blue {
    width: 40%;
    height: 30px;
    background-color: #05796C;
    position: absolute;
    top: 15px;
  }
  .contact .grey {
    width: 30%;
    height: 30px;
    background-color: #666666;
    position: absolute;
    top: 30px;
  }
  .contact .yellow {
    width: 20%;
    height: 30px;
    background-color: #FBB57A;
    position: absolute;
    top: 50px;
  }
  footer {
    background-color: #05796C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h5 {
    font-family: medium;
    color: #DCDED0;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
  }
  footer .colors {
    position: relative;
    height: 10vh;
    width: 100%;
    margin-left: 100px;
    margin-top: 20px;
  }
  footer .red {
    width: 45%;
    height: 20px;
    background-color: #F47059;
  }
  footer .blue {
    width: 35%;
    height: 20px;
    background-color: #05796C;
    position: absolute;
    top: 10px;
  }
  footer .grey {
    width: 25%;
    height: 20px;
    background-color: #666666;
    position: absolute;
    top: 20px;
  }
  footer .yellow {
    width: 15%;
    height: 20px;
    background-color: #FBB57A;
    position: absolute;
    top: 30px;
  }
  footer hr {
    border: #F47059 2px solid;
    margin-left: 5px;
  }
  footer .linkss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer a {
    color: #DCDED0;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 30px;
    font-family: medium;
    font-size: 20px;
  }
  footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  footer .icons img {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 30px;
  }
  footer .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDED0;
    width: 100%;
    color: #05796C;
    font-family: medium;
    height: 7vh;
  }
  footer p {
    margin-top: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    background-color: #DCDED0;
  }
  header .logo h2 {
    font-family: semibold;
    color: #05796C;
    font-size: 35px;
    margin-left: 35px;
    padding-top: 30px;
  }
  header .menu {
    display: none;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9%;
  }
  header .link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }
  header .link a {
    color: black;
    font-family: regular;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
  }
  header .linkss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    border-bottom: black 1.5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 20px;
  }
  header .social {
    margin-right: 35px;
    margin-top: 10px;
  }
  header button {
    display: none;
  }
  header .creative {
    margin-left: -40px;
  }
  header .creative .hie {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    text-align: center;
    position: relative;
  }
  header .creative .hie h4 {
    font-family: semibold;
    font-size: 25px;
    margin-right: 20px;
  }
  header .creative .hie hr {
    width: 120px;
    border: none;
    background-color: rgb(3, 3, 3);
    color: rgb(3, 3, 3);
    position: absolute;
    top: -21%;
    right: 11%;
  }
  header .creative h1 {
    font-family: semibold;
    font-size: 85px;
    color: #05796C;
    margin-top: 0px;
  }
  header .creative h2 {
    font-size: 65px;
    font-family: regular;
    margin-bottom: 0px;
  }
  header .banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
  header .banner .green {
    background-color: #05796C;
    width: 55%;
    height: 35vh;
    margin-top: 50px;
    margin-left: -40px;
  }
  header .banner .grey {
    background-color: #666666;
    width: 55%;
    height: 35vh;
    position: absolute;
    top: -20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .banner .grey img {
    width: 75%;
  }
  header .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 30px;
    text-align: center;
  }
  header .bio p {
    font-family: regular;
    font-size: 21px;
    text-align: center;
    max-width: 86%;
  }
  header .bio h3 {
    font-family: semibold;
    font-size: 35px;
    color: #05796C;
  }
  header .colors {
    position: relative;
    height: 22vh;
    margin-left: 30px;
  }
  header .red {
    width: 32%;
    height: 52px;
    background-color: #F47059;
    color: white;
    text-align: left;
  }
  header .red p {
    padding-left: 10px;
    font-family: medium;
  }
  header .blue {
    width: 28%;
    height: 52px;
    background-color: #05796C;
    color: white;
    position: absolute;
    top: 25px;
    text-align: left;
  }
  header .blue p {
    padding-left: 10px;
    font-family: medium;
  }
  header .grey {
    width: 23%;
    height: 52px;
    background-color: #666666;
    color: white;
    position: absolute;
    top: 50px;
    text-align: left;
  }
  header .grey p {
    padding-left: 10px;
    font-family: medium;
  }
  header .yellow {
    width: 18%;
    height: 52px;
    background-color: #FBB57A;
    color: white;
    position: absolute;
    top: 75px;
    text-align: left;
  }
  header .yellow p {
    padding-left: 10px;
    font-family: medium;
    font-size: 15px;
  }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=styles.css.map */